<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style_2.css" rel="stylesheet" />
    <link href="~/css/style_3.css" rel="stylesheet" />
    <link href="~/css/style_modal.css" rel="stylesheet" />
    <link href="~/css/style_timer.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/getcookies.js"></script>
    <script>
        const player_id = get_cookie("Player_Id");
    </script>
    <script src="~/js/GameProcess/generateShipStatisticsPlace.js"></script>
    <script src="~/js/GameProcess/updateResultWindow.js"></script>
</head>
<body>

    <!--modal result -->
    @{await Html.RenderPartialAsync("ResultGameView");}

    <div class="body">
        <div id="top-menu">
            <img src="~/img/logo.png">
            <div id="btn-panel">
                <input class="icon-btn" type="image" id="giveupbtn" onclick="fgiveupbtn(this)" name="sound_img" src="~/img/white_flag.png">
                <input class="icon-btn" type="image" name="sound_img" src="~/img/sound.png">
            </div>
        </div>
        <div class="field-wrapper">
            <div class="paper-background"></div>
            <div id="field" class="flex-container flex-column field">
                <div class="title" style="width:10rem;">
                    <label>БИТВА</label>
                </div>
                <div id="battlefield" class="flex-container flex-column">

                    <div class="inner-elem top-place-player flex-container flex-between">
                        <div class="flex-container">

                            <div id="player-name" class="flex-container player-name">
                                <label>@ViewBag.player1name</label>
                            </div>
                            <div id="player-move" class="icon-player-ready">
                                <img src="~/img/my_move.png">
                            </div>
                        </div>
                        <div id="timer-move" class="flex-container player-name" style="width: 3rem;">
                            <label>@ViewBag.movetime</label>
                        </div>
                        <div class="flex-container">
                            <div id="opponent-move" class="icon-player-ready" style="opacity: 0.3;">
                                <img style="transform: scale(-1, 1)" src="~/img/my_move.png">
                            </div>
                            <div id="opponent-name" class="flex-container player-name">
                                <label>@ViewBag.player2name</label>
                            </div>
                        </div>
                    </div>

                    <div class="flex-container flex-between" style="height: auto;">
                        <div id="player-ships-stat" class="inner-elem stat-hint">
                            <script type="text/javascript">
                                genPlaceShipStat("player-ships-stat");
                            </script>
                        </div>
                        <div id="opponent-ships-stat" class="inner-elem stat-hint">
                            <script type="text/javascript">
                                genPlaceShipStat("opponent-ships-stat");
                            </script>
                        </div>
                    </div>

                    <div class="flex-container flex-between inner-elem">
                        <div id="player-battlefield" class="battlefield">
                            <table id="battlefield1">

                                @for (var i = 0; i < 10; i++)
                                {
                                    @:<tr>
                                        for (var j = 0; j < 10; j++)
                                        {
                                            @:<td></td>
                                        }
                                    @:</tr>
                                }
                            </table>
                        </div>
                        <div id="opponent-battlefield" class="battlefield">
                            <table id="battlefield2">
                                @for (var i = 0; i < 10; i++)
                                {
                                    @:<tr>
                                        for (var j = 0; j < 10; j++)
                                        {
                                            <td  class="blackouted" onclick="fireclick(this)"></td>
                                        }
                                    @:</tr>
                                }
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <script src="~/js/GameProcess/updateGameProcess.js"></script>
        <script type="text/javascript">

        const borderCell = 1;
        const borderTable = 2;

        var cell_size = cellSizeCount();

        setCellSize(document.getElementById('battlefield1'));
        setCellSize(document.getElementById('battlefield2'));
        updateBattleField("battlefield1", @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.p1field)), true)
        updateBattleField("battlefield2", @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@ViewBag.p2field)), false)

        updateRoom();
        var timerId = setInterval(function () { updateRoom(); }, 1000);
        var flagFire = false;


        function cellSizeCount() {
            let place = document.getElementById("player-battlefield");

            let minDim = (place.offsetWidth < place.offsetHeight) ? place.offsetWidth : place.offsetHeight;
            return Math.floor((minDim - 9 * borderCell - 2 * borderTable) / 10) -5;

        }

        function setCellSize(element) {
            element.style.border = borderTable + "px solid #402205";

            for (var i = 0; i < element.rows.length; i++) {
                for (var j = 0; j < element.rows[0].cells.length; j++) {
                    let td = element.rows[i].cells[j];
                    if (td.classList.contains("injured-cell")) {
                        injured(td);
                    }
                    else if (td.classList.contains("miss-cell")) {
                        miss(td);
                    }

                    td.style.width = cell_size + 'px';
                    td.style.height  = cell_size + 'px';
                    td.style.border =  borderCell + "px solid";

                }
            }
        }

        window.onresize = function (event) {

            cell_size = cellSizeCount();
            //   tableCreate('place-battlefield');

            var f1 = document.getElementById('battlefield1');
            var f2 = document.getElementById('battlefield2');
            setCellSize(f1);
            setCellSize(f2);

        };
        </script>

</body>
</html> 